In [3]:
name = 'onkar'
print(name)

onkar

In [4]:
name

'onkar'

In [6]:
Name
#case sensitive example

NameError: name 'Name' is not defined

In [8]:
#variabe
#python is dynamic type: 

age = 27
print(age)

27

In [10]:
#last output will display

Name = 'onkar'
name= 'ONKAR'
Name
name

'ONKAR'

In [11]:
#if you want both output use print function
Name = 'onkar'
name= 'ONKAR'
print(Name)
print(name)

onkar
ONKAR

In [13]:
# identify data type : use type()

age=27
type(age)

int

In [14]:
# if you use " " then it will string

age="27"
type (age)

str

In [18]:
# true and false is boolean data type: 

var=True
type(var)

bool

In [ ]:
# 1) # : single line comment
# 2) ''' ''' : multi line comments
# 3)

In [ ]:
list  =[1,2,3]
help(list)

# Python identifier: 
Python identifier is the name we give to identify variable, list, tuple, sets, dictionary, function, class, module or other object.

In [32]:
#same name for 2 variable can override and take last variable as output
var_name = 'onkar'
var_name = 'ram'

print(var_name)

ram

Variables :

# most of the varibale name are in lower case : var1, var2, onclick, feedback_variable
# upper case variables such as: PATH, USERNAME, PASSWORD (These are globle varible used once in whole project)
# best way to use varibles: v_path, v_variable, v_ontick, v_refine

# local variables start with V_local
# global variables always starts with gv_global

In [37]:
# Python Memory allocation for integers: 

a= 100
b=5

print(id(a))
print(id(b))

1472977898832
1472977895792

In [39]:
# diffrent variable but same values: 
# we get same id, reuse the memory , this nos will used for range [-5, 256]

c=100
d=5

print(id(c))
print(id(d))

1472977898832
1472977895792

In [47]:
# how to print varible inside print statement : 

var= 'Onkar Dapake'
print('My name is ', var)

My name is  Onkar Dapake

In [45]:
#format function(keyword)

a = 'onkar'
b = 'dapake'
print(f'My name is {a} and surname is {b}')

My name is onkar and surname is dapake

In [49]:
#assign multiple varibale assigning single value:

a=b=c=d=e=100

print('Value of a is :',a)
print('Value of b is :',b)
print('Value of c is :',c)
print('Value of d is :',d)
print('Value of e is :',e)

Value of a is : 100
Value of b is : 100
Value of c is : 100
Value of d is : 100
Value of e is : 100

In [57]:
# Strings: Anything which is in single or double quote it is string
 
print('Onkar')     # regular string
print('Onkar\'s')  # quote inside single quote
print("Onkar's")   # quote inside double quote
print('"Onkar"')   # double quote inside single quote  
print('"Onkar\'s"')     # double and single both quote inside single quote

Onkar
Onkar's
Onkar's
"Onkar"
"Onkar's"

In [59]:
# Numbers : 

print(4/2)     # float value
print(4//2)    # integer value

2.0
2

In [63]:
# Delete a variable using DEL

A= 55
print(A)

del A

55

In [87]:
# Formatting string: 

# 2 methods: F string and format function

# F string : 

target = 200
reached = 500
profit = 300

print (f'The target count is: {target}, reached count is: {reached} , and profit count is: {profit}') #using f

# .format : 

target = 200
reached = 500
profit = 300

print ('The target count is: {}, reached count is: {} , and profit count is: {} '.format(target,reached,profit)) # using .format


# .format : 

target = 200
reached = 500
profit = 300

print ('The target count is: {2}, reached count is: {0} , and profit count is: {1} '.format(reached,profit,target)) # using indexed based

# .format : 

target = 200
reached = 500
profit = 300

print ('The target count is: {c}, reached count is: {a} , and profit count is: {b} '.format(a=reached,b=profit,c=target)) # using reference based

The target count is: 200, reached count is: 500 , and profit count is: 300
The target count is: 200, reached count is: 500 , and profit count is: 300
The target count is: 200, reached count is: 500 , and profit count is: 300
The target count is: 200, reached count is: 500 , and profit count is: 300

In [88]:
#Python indexex : 

# left to right 0 to n 
# right to left -1 to -n 
# max value (n-1)


name= 'Onkar Dapake'

print(name[1])
print(name[2])
print(name[5])
print(name[-2])

n
k

k

# Python Data Types: 

1. Numeric data types: int, float, complex
2. String data types: str
3. Sequence data types: list , tuple, range
4. Binary data types: bytes, bytearray, memoryview
5. Mapping data types: dictionary
6. Boolean data types : bool
7. Set data types: set, frozenset
8. Data structure collections : (list, tuples, range, set, frozenset, dictionary)

In [5]:
# 1. Range data type 
# range (start,stop,step)

v_range = range(5, 20, 5)
list(v_range)

[5, 10, 15]

In [6]:
v_range1= range(10)
print(v_range1)

range(0, 10)

In [10]:
v_range2 = range(1,10,2)  #increment by 2
list(v_range2)

[1, 3, 5, 7, 9]

In [21]:
# 2. String data type 
# we can write string in 3 ways of quotes, single double and triple as well.

v_string1 = 'This is string'
v_string2 = "This is string"
v_string3 ='''This is string '''

v_string4='''String is more than one line
then we used,
triple quotes or double tripple quotes
'''
print(v_string1)
print(v_string2)
print(v_string3)
print(v_string4)

This is string
This is string
This is string
String is more than one line
then we used,
triple quotes or double tripple quotes

In [23]:
# 3. Int Data type: 

v_age = 27
print(v_age)

27

In [24]:
type(v_age)

int

In [25]:
# 4. Float data type :

v_weight = 66.66
print(v_weight)

66.66

In [26]:
type(v_weight)

float

In [27]:
# List: 

# It is changable and it allows duplicate values

a_list = []
print(a_list)

[]

In [28]:
type (a_list)

list

In [32]:
# Tuple: It is unchangable and allow duplicate members

a_tuple = (1,2,3,4,5,6,6,6,777,888,777,888)

a_tuple

(1, 2, 3, 4, 5, 6, 6, 6, 777, 888, 777, 888)

Dictionary: 

unorderd, changable, indexed and no duplicate

In [31]:
# Dictionary : 

a_dict={1,2,2,3,3,4,4,4,5,6,7}   # no repeat
print(a_dict)

{1, 2, 3, 4, 5, 6, 7}

In [34]:
# Frozen set : immutable , it freezes iterable objects and makes them unchangable

x= frozenset({"apple","banana","cherry"})

print (x)

frozenset({'apple', 'cherry', 'banana'})

In [38]:
# Boolean: 

a=True
b= False 

print('this is bool',a)
print('this is bool',type(a))

this is bool True
this is bool <class 'bool'>

In [41]:
# Byte: 

v_byte = 'Hello'
print(v_byte)

Hello

# Memory View:

In [43]:
v_bytes = bytes(55)
mv= memoryview(v_bytes) #memoryview
print('memory view data type:',(mv))
print('memory view data type:',list(mv))

memory view data type: <memory at 0x0000015186077940>
memory view data type: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

# Complex integer data type : 
Not completed yet

Date and time data types:

# NOTE: Bytes, Bytesarray and memory view are primary while ML.

In [ ]:
pip install datetime

In [51]:
import datetime

todays_date = datetime.datetime.now()

print('Date : ', todays_date)

Date :  2025-02-28 10:45:19.953280

In [53]:
print('Year:', todays_date.year)

Year: 2025

In [54]:
print('Month: ', todays_date.month)

Month:  2

In [55]:
print('Day: ', todays_date.day)

Day:  28

In [59]:
print(todays_date.strftime("%A")) # day

print(todays_date.strftime("%a")) # short day

print(todays_date.strftime("%B")) # Month

print(todays_date.strftime("%b")) # short month

print(todays_date.strftime("%H")) # hours

print(todays_date.strftime("%I")) #

Friday
Fri
February
Feb
10
10