# Functions and lambda functions:

In [4]:
lambda_fun= lambda a: a+10
lambda_fun(10)

20

In [6]:
lambda_fun(30)

40

In [5]:
lambda_fun= lambda a: a+10
type(lambda_fun)

function

In [ ]:
# Passing multiple paarameters:

In [7]:
lambda_fun = lambda a, b : (a+b, a*b)

In [8]:
lambda_fun(10,20)

(30, 200)

# Functions:

In [9]:
#Using return:

def fun_name (a,b):
    return a+b

In [18]:
fun_name (1,2)

3

In [11]:
# using print : 

def fun_name1(a,b):
    print('The total of a and b is:', a+b)

In [14]:
fun_name1(2,3)

The total of a and b is: 5

In [15]:
# without arguments: 

def fun_name2():
    print('The function is without argument')

In [16]:
fun_name2()

The function is without argument

In [20]:
# Default Parameter Value: 

def my_function(name, age, loc= 'India'):       #india will print by default
    print('My name is :', name)
    print('My age is', age)
    print('Location is',loc)

In [21]:
my_function('Onkar',27)         # i havent mention parameter india still india print by default

My name is : Onkar
My age is 27
Location is India

# variable number of arguments :

In [22]:
def my_sum(*args):
    return sum(args)

In [23]:
my_sum(1,2,3,4,5)

15

In [24]:
# key value pair dynamically: 

def key_value_pair(**kvargs):
    print("Key value pair data : ", kvargs)
    for k,v in kvargs.items():
        print('Keys : ', k)
        print('values: ',v)

In [25]:
key_value_pair(name='Onkar', age=27, location='Raigad')

Key value pair data :  {'name': 'Onkar', 'age': 27, 'location': 'Raigad'}
Keys :  name
values:  Onkar
Keys :  age
values:  27
Keys :  location
values:  Raigad

In [29]:
#print in dictonary/json format

def key_value_pair(**kvargs):
    print("Key value pair data : ", kvargs)

In [32]:
key_value_pair(name='Onkar', age=27, location='Raigad')
key_value_pair(name='Onkar', location='Raigad')        #2 key value accept

Key value pair data :  {'name': 'Onkar', 'age': 27, 'location': 'Raigad'}
Key value pair data :  {'name': 'Onkar', 'location': 'Raigad'}

# Nested function

In [39]:
def function_outside():
    print('This is Global/Outside function')
    def function_inside():
        print('This is local/inside function')
        function_inside()

In [35]:
function_outside() # it can be call anywhere

This is Global/Outside function

In [ ]:
function_inside() # it will show error you can not call this ouside the function

# pass statement

In [41]:
#for empty function we can use pass statement : 

def pass_function():
    pass