# Python Data structures or collections (Arrays):

- There are 4 types of data structure :
  1) List: List is collection which is order and changable. Allows duplicate members[.]
  2) Tuple: Tuple is collection which is order and unchangable.(Immutable).Allows duplicate members(.)
  3) set: unorderd and unindexed. Do not allow duplicate members{.}
  4) dictionary: unordered, changable, indexed. Do not allow duplicate members{name:'Onkar',age:27}

# List:

In [1]:
v_list = [1,2,3,4,5,6,7,8,9,10]
v_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
v_list = [1,2,3,4,'Pune','Raigad', True, False, 5,6,7,8,9,10]    #string and bolean every thing in list
v_list

[1, 2, 3, 4, 'Pune', 'Raigad', True, False, 5, 6, 7, 8, 9, 10]

In [7]:
# indexing should start from 0 (from left to right)
# indexing should start from -1 (from right to left)

v_list1= [1,22,34,32,1,23,44,54,3,4,5]
v_list1[2] #from left to right

34

In [8]:
v_list1= [1,22,34,32,1,23,44,54,3,4,5]
v_list1[-2] #from right to left

4

In [10]:
mylist= ['apple','banana','cherry', 'orange','peru']

mylist[0:2]  # range (n-1)  ....thats why banana is output for 2

['apple', 'banana']

# Slicing : [min:max(n-1)]

In [11]:
mylist= ['apple','banana','cherry', 'orange','peru']
mylist[-1:-4]   # this will not work because 1st we need tot take min value, here -1 is max and -4 is min

[]

In [12]:
mylist= ['apple','banana','cherry', 'orange','peru']
mylist[-4:-1] # this will work

['banana', 'cherry', 'orange']

In [13]:
# Update values in existing list

In [16]:
mylist= ['apple','banana','cherry', 'orange','peru']
mylist[2]='mango'   #mango updated in place of cherry
mylist

['apple', 'banana', 'mango', 'orange', 'peru']

In [19]:
# add values in existing list:

mylist= ['apple','banana','cherry', 'orange','peru']
mylist.append('mango')    #add this value at the end of the list
mylist

['apple', 'banana', 'cherry', 'orange', 'peru', 'mango']

In [22]:
# insert value in between:

mylist= ['apple','banana','cherry', 'orange','peru']
mylist.insert(1,'watermelon')    # insert used for adding value in between
mylist

['apple', 'watermelon', 'banana', 'cherry', 'orange', 'peru']

In [25]:
# extend (merge): 

mylist= ['apple','banana','cherry', 'orange','peru']
list2=['kiwi','dragon']
mylist.extend(list2)     #extend the list using list2
mylist

['apple', 'banana', 'cherry', 'orange', 'peru', 'kiwi', 'dragon']

In [26]:
# length : size or count of list length

list_length = ['apple','banana','cherry', 'orange','peru']
len(list_length)

5

In [30]:
# Sort: arranges the element low to high

sort_list=[1,2,4,5,7,8,9,4,3,2,5,7,10,11,2,3,4]
sort_list.sort()
sort_list

[1, 2, 2, 2, 3, 3, 4, 4, 4, 5, 5, 7, 7, 8, 9, 10, 11]

In [31]:
#descnding order: 

sort_list=[1,2,4,5,7,8,9,4,3,2,5,7,10,11,2,3,4]
sort_list.sort(reverse=True)
sort_list

[11, 10, 9, 8, 7, 7, 5, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1]

In [ ]:
#del: deleteing object
# pop: delete recently or end of item list
#

In [ ]:
#copy: 

copy_list=[1,2,4,5,7,8,9,4,3,2,5,7,10,11,2,3,4]
copy_list=final_list
final_list

# List: 
-append
-insert 
-extend

-remove
-pop()
-delete
-clear()

-copy()
-sort()
-reverse()

Tuple: